.footer {
  height: 29.7rem;
  position: relative;
  top: 18rem;
}
.footer::before {
  content: "";
  position: absolute;
  width: 33.2rem;
  height: 42.9rem;
  bottom: 0rem;
  right: 0rem;
  background: linear-gradient(to left, #82bbff, #b9ff82);
  filter: blur(2rem);
  opacity: 0.2;
  z-index: -1;
}
.footer-content {
  display: flex;
  padding: 1rem 12rem;
}
.footer-content--1 {
  flex: 38%;
  padding: 1.2rem 2rem;
}
.footer-content--1__icons {
  margin-top: 1.6rem;
}
.footer-content--1__icons img:not(:first-child) {
  margin-left: 1.5rem;
}
.footer-content--2 {
  flex: 15%;
}
.footer-content--3 {
  flex: 15%;
}
.footer-content--text {
  list-style-type: none;
}
.footer-content--text li {
  margin-bottom: 1.5rem;
  color: var(--color-grey--2);
  font-weight: 300;
}
.footer-content--title {
  margin-bottom: 2rem;
}
.footer-cookie {
  background-color: var(--color-primary-light);
  height: 5.6rem;
  width: 46.5rem;
  border-radius: 2.8rem;
  position: fixed;
  bottom: 2%;
  left: 37%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}
.footer-cookie-text {
  display: flex;
  gap: 12px;
  align-items: center;
}
.cookie-icon {
  position: relative;
}
.close {
  border: none;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 0rem;
  top: -1rem;
  content: " ";
  height: 3.1rem;
  width: 2px;
  background-color: var(--color-black);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
