.subs_heading {
  width: 42.4rem;
  position: absolute;
  left: 34%;
  top: 26%;
  text-align: center;
}
.subs_search {
  width: 49.6rem;
  margin: auto;
  background-color: var(--color-white);
  position: absolute;
  bottom: 17%;
  left: 32%;
}
.subs_people {
  width: 3.6rem;
  height: 3.6rem;
  border: 2px solid white;
  border-radius: 50%;
}
.subs_house--3 {
  width: 5.5rem;
  height: 5.5rem;
  border: 2px solid white;
  border-radius: 30%;
}
.subs_house--1 {
  width: 8.1rem;
  height: 8.1rem;
  border: 2px solid white;
  border-radius: 30%;
}
.subs_house--2 {
  width: 7rem;
  height: 7rem;
  border: 2px solid white;
  border-radius: 30%;
}
.subs_floating {
  position: absolute;
  object-fit: fill;
}
.subs_floating:nth-child(3) {
  top: 10%;
  left: 5%;
}
.subs_floating:nth-child(4) {
  bottom: 18%;
  left: 18%;
}
.subs_floating:nth-child(5) {
  top: 20%;
  right: 20%;
}
.subs_floating:nth-child(6) {
  bottom: 15%;
  right: 6%;
}
.subs_floating:nth-child(7) {
  bottom: 47%;
  right: 7%;
}
.subs_floating:nth-child(8) {
  bottom: 27%;
  left: 4%;
}
.subs_floating:nth-child(9) {
  bottom: 29%;
  right: 18%;
}
.subs_floating:nth-child(10) {
  top: 24%;
  left: 17%;
}
